@mixin list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}
@mixin df {
  display: flex;
  align-items: center;
}
@mixin bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin btn {
  border: none;
  background-color: transparent;
}
@mixin title {
  font-family: $font-lobster;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4;
  color: #333;
  text-align: center;
  margin-bottom: 30px;

  span {
    color: $color-primary;
  }
}

@mixin staticTitle {
  font-family: $font-lobster;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 4px;
  color: $color-primary;
  margin-bottom: 20px;
  padding-bottom: 10px;
  position: relative;

  &::after{
    content: "";
    display: inline-block;
    width: 50px;
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background: #00BCD4;
  }
}

@mixin normText {  
  font-family: $font-lora;
  line-height: 1.7;
  font-size: 15px;
  margin-bottom: 10px;
}