// COLORS
$color-primary: #FF5252;

// Container
$width-container: 1200px;
$p-container: 15px;

// FONTS
$font-lobster: 'Lobster Two', cursive;
$font-lora: 'Lora', serif;
$font-opne-sans: 'Open Sans', sans-serif;

//OTHER

$transi : all 0.3s ease;