.event {
  padding: 50px 0;

  &__title {
    @include title;
  }

  &__static-title {
    font-size: 20px;
    font-family: $font-lobster;
    font-weight: 600;
    line-height: 1.4;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
  }

  &__text {
    @include normText;
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .event {
    &__text {
      @include normText;
      width: 90%;
      margin: 0 auto;
    }
  }
}